canvas {
    max-width: 100%;
    max-height: 95vh;
    margin: auto;
    padding: 0.5em;
    display: block;
    background-color: rgba(255, 255, 255, 0.3)
}

body {
    background-image: url("images/confetti.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
 font-family: CallingHeart;
 font-size: 3em;
}

.li-design {
    font-family: GeoSansLight;
    font-size: 1.5em;
}

.textbox {
    width: 60%;
    margin: 3em auto;
    background-color: rgba(255,255,255, 0.4);
    color: black;
    padding: 3em;
}

.heading1 {
    color: white;
    font-family: GeoSansLight;
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 0.2em;
}

.heading2 {
    color: white;
    font-family: GeoSansLight;
    font-size: 1.4em;
    font-weight: bolder;
    padding-bottom: 0.2em;
}

.article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.quote {
    background-color: rgba(238, 198, 10, 0.7);
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.8em;
}

.hashtag {
    font-family: CallingHeart;
    font-size: 2em;
    padding-top: 3em;
}

a {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: right;
    text-decoration: none;
}

p {
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:  rgba(238, 198, 10, 0.7);
    color: white;
    font-family: GeoSansLight;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 0;
    padding: 0.5em 1em;
}

.callingHeart {
    font-family: CallingHeart;
    font-size: 1.5em;
    padding: 0 0.2em;
    margin-bottom: 0;
}

@font-face {
    font-family: CallingHeart;
    src: url(fonts/CallingHeart.ttf)
  }

@font-face {
font-family: GeoSansLight;
src: url(fonts/GeosansLight.ttf)
}